

body {
  margin: 0;
  padding: 0;
  border: 0;
  
  
  /* font-weight: bold; */
  /* overflow: hidden; */
}

.visaskonteineris{
  /* display: flex;
  flex-direction: column; */
 
}

/* @@@@@@@@@@@@@@@@@@@@ loader*/
.loader {
  position: fixed;
  z-index: 9999999999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: white; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.loader img {
  max-width: 270px;
}

.loader.hidden {
  /* background-color: black; */
  animation: fadeOut 0.5s;
  transition-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  100% {
      opacity: 0;
      visibility: hidden;
  }
}

.thumb {
  height: 100px;
  border: 1px solid black;
  margin: 10px;
}
.logo img{
position: absolute;
margin: 30px 0 0 10px;
max-width: 120px;

}
/* @@@@@@@@@@@@@@@@@@@@@ */
.header-container{
  /* height: 100vh; */
  height: 100% ;
  width: 100% ;
  background-color: black;
  overflow: hidden;
}
#space{
  z-index: 1000000;
  /* max-height:  100vh; */
  height: 100%;
  width: 100%;
  background-color: black;
  overflow: hidden;
}

#info{  
  position: absolute;
  /* display: block;
  height: auto;
  width: auto;
  max-width: 50vw;
  max-height: 50vh; */
  top: 50%;  
  left: 50%; 
  transform: translate(-50%, -50%);
  z-index: 100;
  color: white;
  font-family: 'Roboto Mono', monospace;
  max-width: 700px;
  /* min-height: 50px; */
  /* font-weight: 400; */
  /* font-size: 2rem; */
  /* border: 1px solid red; */
  -webkit-touch-callout: none; 
  -webkit-user-select: none; 
   -khtml-user-select: none; 
     -moz-user-select: none; 
      -ms-user-select: none; 
          user-select: none; 
}

#info h1{
  display: flex;
  flex-wrap: wrap;
  font-size: 2rem;
  
}
.animate{
  /* color: rgba(0, 0, 0, 1); */
  color: rgb(53, 111, 81);
  
}




/* @@@@@@@@@@@@@@@@*/

/* pirmas menu */





.menu-btn button {
   border: none;
   background: none;
   position: fixed;
   padding: 30px 20px 0 0;

   right: 0%;
  
   z-index: 10000;
}

.menu-btn button:focus {
   outline: none !important;
}

.menu-btn .material-icons { 
  font-size: 50px; 
  color: rgba(255, 255, 255, 0.8);
}

i {
   outline: none;
   /* padding: 2rem; */
   color: #fff;
  
}

ul li a{
  
  
  
  -webkit-text-stroke: 0.6px rgb(172, 172, 172);

  
}



.gradient-text{
  /* font-family: Arial, Helvetica, sans-serif; */
  display: block;
  /* font-family: 'Roboto Mono', monospace; */
  font-family: "Cosi Azure";
 
  
  color:rgba(0,0,0,1);
  font-size: 85px;
  /* width:50vw; */
  /* z-index: 99999999; */
  /* border:1px solid red; */
  /* margin:30vh auto; */
  /* display:block; */
  /* text-align:center; */
  text-transform:uppercase;
  font-weight:900;
  /* transition: color .2s ease-in-out; */
  

 
}
.gradient-text:hover{
  color:rgba(0,0,0,0);
  -webkit-text-stroke: 0px;
  text-decoration: none; 
  transform: rotate(5deg);
  background-clip: text;
  background: linear-gradient(to right, crimson,rgb(24, 95, 157),springgreen);
  background-size: 200% 200%;
  animation: rainbow 2s ease-in-out infinite;
  -webkit-background-clip: text;
}

.rotate:hover{
  transform: rotate(-5deg);
  
  

 
}

@keyframes rainbow { 
  0%{background-position:left}
  50%{background-position:right}
  100%{background-position:left}
}

/* ul li a:hover {
  color: white;
  text-decoration: none;
} */

.material-icons.md-48 {
  font-size: 60px; 
}

.material-icons:hover { 
  color: rgb(53, 111, 81);
  
}

.row, .col-lg {
   margin: 0 !important;
   padding: 0 !important;
}

.col-lg {
  z-index: 1000;
   height: 100vh;
}

.col-lg.overlay {
   background: black;
   position: fixed;
   opacity: 0;
}

.overlay:before {
  animation: grain 1s steps(10) infinite;
  background-image: url(grain.png);
  opacity: 0.1;
  content: "";
  height: 300%;
  
  left: -50%;
  /* opacity: 0.48; */
  position: fixed;
  top: -110%;
  width: 300%;

}

@keyframes grain {
  0%, 100% { transform: translate(0, 0); }
  10% { transform: translate(-5%, -10%); }
  20% { transform: translate(-15%, 5%); }
  30% { transform: translate(7%, -25%); }
  40% { transform: translate(-5%, 25%); }
  50% { transform: translate(-15%, 10%); }
  60% { transform: translate(15%, 0%); }
  70% { transform: translate(0%, 15%); }
  80% { transform: translate(3%, 35%); }
  90% { transform: translate(-10%, 10%); }
}

/* .overlay h1 {
  position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-size: 25rem;
   font-family: Poppins;
   font-weight: 800;
   color: rgb(53, 111, 81, 0.2)
} */

ul {
  position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   list-style: none;
   margin: 0;
   padding: 0;   
   
}

/* .logo {
   background: url(logo.gif);
   width: 140px;
   height: 40px;
} */

li {
  
   /* top: 50%; */
   /* padding-top: 100px; */
   /* font-family: Poppins; */
   font-size: 3rem;
   /* font-weight: 300; */
   text-transform: uppercase;
   text-align: center;
   color: #a9a6a9;
   
}



 /* .row{ 
  position: fixed;
  padding-top:10000px;
  transform: translateY(-100%);
  height: 100vh;
  width: 100%; 
} 

.display-block{
  padding-top:0px; 
  transform: translateY(0%);
  display: none;
  display: block;
} */

.row{
/* padding-right: 10000000px; */
  /* transform: translateY(-100%); */
  /* display: none; */
  /* position: fixed; */
  visibility: hidden;
}

.showNav {
  /* padding-right: 0px; */
  visibility:visible;
  /* position: fixed; */
  /* display: block; */
  /* show the menu */
  /* transform: translateY(0); */
}




/* #section1{
  min-height: 100vh;
  background-color: black;
  font-family: 'Roboto Mono', monospace;
  color: white;
} */






/* @@@@@@@@@@@@@@@@@@ */

.projects-title{
  font-size: 270px;
  z-index: 999;
  padding: 0rem 0 7rem 0;
margin:0 auto;
color: rgba(255, 255, 255, 0.1);

font-family: "Cosi Azure";
transition: .15s;
}




.nav-wrap{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background-color: black;
  font-family: 'Roboto Mono', monospace;
  color: white;

  /* border: 1px solid red; */


  background-image: url('overlaylogo.png');
  background-size: 450px;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  /* color: rgba(255, 255, 255, 0.3); */
  
}
.nav-list {
  /* padding-top: 340px; */
  padding-left: 150px;
  /* padding-bottom: 140px; */
  /* position: absolute; */


  /* istrinti jri neveiks prisilietimas  */
 /* border: 1px solid red; */
 max-width: 400px;
 /* istrinti jri neveiks prisilietimas  */

 transition: transform .10s;
 will-change: transform;
}

.navigation-item {
  display: block;
  -webkit-touch-callout: none; 
  -webkit-user-select: none; 
   -khtml-user-select: none; 
     -moz-user-select: none; 
      -ms-user-select: none; 
          user-select: none; 
          /* border: 1px solid red;                          */
  /*margin: 120px 0;*/
  
}

.navigation-link {
  font-family: "Cosi Azure";
  font-size: 80px;
  padding-bottom: 200px;
  /* text-decoration: none; */
  color: rgba(255, 255, 255, 0.3);
  /* border: 1px solid red; */
  width: 400px;

}

/* .navigation-link span:nth-child(2), span:nth-child(3), span:nth-child(4), span:nth-child(5){
font-size: 40px;
} */

.navigation-link span:not(:first-child){
  font-size: 40px;
}

.navigation-link span:nth-child(5){
  width: 300px;
}

.navigation-link span {
  position: relative;
  display: block;
  
 
}

.navigation-link span:nth-child(1){
  color: rgba(255, 255, 255, 0.7);
}

.navigation-item span:before {

  width: 0;
  color: #ffffff;
  overflow: hidden;
  position: absolute;
  content: attr(data-text);
  transition: all 1s cubic-bezier(0.84, 0, 0.08, 0.99);
}

.navigation-item span:hover:before {
  position: absolute;
   z-index: 99999999 !important;
  width: 100%;
}

.project-preview-wrapper {
  width: 100%;
  height: 100vh;
  position: absolute;
  display: flex;
  justify-content: center;
  
}

.project-preview {
  z-index: 99999999 !important;
  position: fixed;
  /* position: absolute; */
  top: 35%;
  left: 40%;
  max-width: 600px;
  height: 350px;
/*  max-width: 400px;
  max-height: 400px;*/
  background: url(img-1.jpg) no-repeat 50% 50%;
  background-size: cover;
  overflow: hidden;
  
}

.closeBtn{
  right: 1%;
  top:1%;
  color: white;
  position: absolute;
}
.material-icons.md-36 { font-size: 36px; }

.touch-btn{
  left:50%;
  top:91%;
  color: white;
  position: absolute;
  color:rgba(255, 255, 255, 0.1);
  -webkit-touch-callout: none; 
  -webkit-user-select: none; 
   -khtml-user-select: none; 
     -moz-user-select: none; 
      -ms-user-select: none; 
          user-select: none; 
}
/* @@@@@@@@@@@@ about page */
.about-container{
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: black;
  /* padding: 10rem 0 0rem 0; */
  overflow: hidden;
  /* border: 1px solid red; */
}
.about-info{
width: 650px;
color:rgba(255, 255, 255, 0.7);
font-family: "Cosi Azure";
font-size: 25px;
line-height: 1.9;
/* padding-right: 2rem; */
/* border: 1px solid red; */
 transform: translate(20%) !important;
 /* padding-left: 5rem; */
}

.about-info p:nth-child(1){
  font-size: 70px;
  line-height: 100px;
}

.about-info p:nth-child(3){
  font-size: 50px;
  line-height: 75px;
}


.about-info p span{
  color: rgb(53, 111, 81);
}


.cv-btn {
  width: 150px;
  height: 50px;
  border: 1px solid white;
  font-size: 30px;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
  transition: 1s;
 margin-top: 3rem;
 
}

.cv-btn a {
  width: 100%;
  text-align: center;
  
  color: white;
}

.cv-btn::before, .cv-btn::after {
  position: absolute;
  background: black;
  z-index: -1;
  transition: 1s;
  content: '';
}

.cv-btn::before {
  height: 50px;
  width: 130px;
}

.cv-btn::after {
  width: 130px;
  height: 30px;
}

.btn-noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
            
}

.cv-btn:hover::before {
  width: 0px;
  background: black;
}

.cv-btn:hover::after {
  height: 0px;
  background: black;
}

.cv-btn:hover {
  background: black;
 
}
.cv-btn a:hover {
  text-decoration: none;
  color: white;
}

.about-img img{
max-width: 450px;
max-height: 550px;
width: 100%;
height: 100%;
opacity: 0.15;
transform: rotate(-10deg);
transition: 1s;
padding-right: 5rem;
filter: grayscale(100%);
}

.about-info:hover + .about-img img, .about-img img:hover{
  opacity: 0.4;
  transform: rotate(0deg);
}


/* @@@@@@@@@@@@@@skills */

#section2{
  min-height: 100vh;
  width: 100%;
  background-color: black;
overflow: hidden;
display: flex;
flex-direction: column;
align-items: center;

}

.skills-title{
  color: white;
  font-size: 230px;
  margin-bottom: 10rem;
color: rgba(255, 255, 255, 0.1);
font-family: "Cosi Azure";
/* transform: translate(5%) !important; */
/* transition: .15s; */

}

.skills-gallery{
  display: flex;
  justify-content: center;
align-items: center;
  flex-wrap: wrap;
  margin: 0rem 0 8rem 0rem; 
  max-width: 600px;
  min-height: 300px;
  transition: .15s;
 } 

.skills-gallery img{
max-width: 90px;
max-height: 90px;
width: 100%;
height: 100%;
margin: 0rem 1rem 1rem 1rem;
filter: grayscale(80%);
opacity: 0.9;
/* border: 1px solid red; */

}

.skills-gallery img:hover{
  filter: grayscale(0%);
  transition: .5s;
  opacity: 1;
}
 
/* *********contacts*/

#contacts{
  min-height: 100vh;
  background-color: black;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}
#contacts p{
  color: white;
  font-size: 270px;
  margin-bottom: 5rem;
color: rgba(255, 255, 255, 0.1);
font-family: "Cosi Azure";


}
#contact-form {
  /* border: 1px solid red; */
  
  /* border-radius: 5px; */
  /* margin-bottom: 40px; */
  
  width: 850px;
  max-width: 100%;
  padding: 40px;
}

.form-titles {
  padding: 10px;
}

#contact-form label {
  display: block;
  font-size: .9em;
  color: #999;
  padding-left: 5px;
}

#contact-form input, #contact-form textarea {
  width: 100%;
  padding: 5px;
  border: none;
  resize: vertical;
  background: transparent;
  color: #fff;
  font-weight: bolder;
}

input:focus {
  outline: none;
  border: none;
}

textarea:focus {
  outline: none;
  border: none;
}

.textarea {
  border-bottom: 1px solid #dfdfdf;
}

.send {
  margin: 40px 0 10px 8px !important;
  text-transform: uppercase;
  /* padding: 20px; */
  background: transparent;
  color: white;
  font-size: 16px;
  letter-spacing: 1px;
  width: 150px;
 
}



 
 
@media only screen and (max-width: 1400px) {

  .touch-btn{
    visibility: hidden;
    }
  .nav-list{
    padding-left: 90px;
    margin: 0;
    }

    .project-preview {
      left:35%;
      height: 350px;
      max-width: 550px !important;
    }
  
  .nav-wrap{
    background-image: none !important;
   }
   .projects-title{
    font-size: 120px;
   }
   .skills-title{
     font-size: 120px;
   }
}

@media only screen and (max-width: 950px){

  .about-container{
    flex-wrap: wrap;
  }

  .about-img img{
    max-height: 400px;
    max-width: 350px;
    }

  .about-info{
    transform: translate(0%) !important;
    margin: 0 2rem 0 2rem;
    font-size: 20px;
   }

   .about-img img{
    opacity: 0.2;
    padding-right: 0rem;
    
    }

  .nav-list{
    padding-left: 40px;
    margin: 0;
    
    }
    
    .project-preview {
    
    
      left: 35%;

     height: 290px;
     max-width: 450px !important;
 
    
 
   }
 
  
    
   
    

    
      .navigation-link {
        font-size: 70px;
        width: 380px;
        
       
      }   
 
 
     
}


@media only screen and (max-width: 780px){

  .loader img {
    max-width: 180px;
  }

  .menu-btn .material-icons { 
    font-size: 45px; 
  }
   


  .overlay h1 {
        /* font-size: 0px; */
        /* visibility: hidden; */
  }
  .gradient-text{
   margin: 25px;
 font-size: 30px;
  color:white;
  -webkit-text-stroke: 0px;
 
  }
  /* .gradient-text:hover{
   transform: rotate(0deg);
  }
  .rotate:hover{
   transform: rotate(0deg);
   
 } */

 #info h1{
  font-size: 1rem;
  }

  .about-container{
    padding: 5rem 0 6rem 0;
   }

   .about-info p:nth-child(3){
     margin-bottom: 2rem;
    line-height: 55px;
  }

 /* portfolio */


 .projects-title{
   /* font-size: 50px; */
   /* padding:0; */
 }
 .logo img{
   max-width: 90px;
 }

 .cv-btn {
   margin: 0 0 1rem 0;

 }

 .project-preview {
   
  

  height: 250px;
  max-width: 380px !important;

 

}


 
 /* .nav-list{
   padding-left: 40px;
   margin: 0;
   
   }
   
   .project-preview {
   
    top: 35%;
     left: 2%;

    height: 250px;
    max-width: 400px !important;

   

  }

 
   
   .navigation-item {
    
     margin-top: 120px;
     
   }
   
   .navigation-item span:hover:before {
   
    
   }
   
     .navigation-link {
       font-size: 35px;
       width: 280px;
       
      
     } */
     .navigation-link {
      font-size: 65px;
      width: 200px;
      /* border: 1px solid red; */
     }

     .navigation-link span:not(:first-child){
      font-size: 30px;
    }

    

    

      .skills-title{
font-size: 80px;
margin:0 0 6rem 0;
      }
     
      .skills-gallery img{
        max-width: 70px;
      }

} 

@media only screen and (max-width: 600px){
  .nav-list{
    padding-left: 40px;
    margin: 0;
    
    }

    
    
    .project-preview {
    
     top: 35%;
      left: 3%;

     height: 230px;
     max-width: 380px !important;
 
    
 
   }
 
  
    
    .navigation-item {
     
      /* margin-top: 120px; */
      
    }
    
    /* .navigation-item span:hover:before {
    
     
    } */
    
      .navigation-link {
        font-size: 35px;
        width: 280px;
        padding-bottom: 150px;
       
      }

      .navigation-link span:not(:first-child){
        font-size: 25px;
      }

  
  .about-img img{
    max-height: 350px;
    max-width: 300px;
    
    }

    .projects-title{
      font-size: 60px;
      padding-bottom: 7rem;
    }

    .skills-title{
      font-size: 50px;
    }


}


@media only screen and (max-width: 400px){
 
  .about-info p:nth-child(1){
    font-size: 15vw;
  }

  .navigation-link {
    font-size: 10vw;
    width: 200px;
  }
 
  .nav-list{
    padding-left: 20px;
    
    }
    
    .project-preview {
    
     top: 35%;
      left: 3%;

     height: 190px;
     max-width: 290px !important;
   }

      .projects-title{
      font-size: 15vw;
    }

    .skills-title{
      font-size: 15vw;
    }

  }

 












